@tailwind base;

/* Write your own custom base styles here */
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/inter-regular-webfont.woff2') format('woff2'),
        url('/fonts/inter-regular-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/fonts/inter-medium-webfont.woff2') format('woff2'),
        url('/fonts/inter-medium-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/inter-bold-webfont.woff2') format('woff2'),
        url('/fonts/inter-bold-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::selection {
    @apply bg-accent-200 bg-opacity-40;
}

h1 {
    @apply text-3xl font-bold md:text-5xl font-primary;
}

h2 {
    @apply text-2xl font-bold md:text-4xl font-primary;
}

h3 {
    @apply text-xl font-bold md:text-3xl font-primary;
}

h4 {
    @apply text-lg font-bold font-primary;
}

body {
    @apply font-primary;
}

p.component {
    @apply text-sm;
}

.layout {
    max-width: 43.75rem;
    max-width: 50rem;
    @apply w-11/12 mx-auto;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.prose {
    max-width: 50rem;
}

.prose code {
    @apply px-1 py-1 rounded-md border-thin;
}

.prose a {
    text-decoration: none;
}

.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
    margin-bottom: 0;
}
.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
    margin-top: 0;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
    content: '';
}

.prose blockquote,
.dark .dark\:prose-dark blockquote {
    border-style: solid;
    border-width: 0 0 0 0.25rem;
    border-image: linear-gradient(to top, #00ff94, #00e0f3, #00c4fd) 1;
}

.prose hr,
.dark .dark\:prose-dark hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-image: linear-gradient(to right, #00ff9480, #00e0f380, #00c4fd80) 1;
}

.btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

span.accent {
    @apply text-transparent bg-gradient-to-tr dark:from-accent-200 dark:to-accent-300 from-accent-200 to-accent-400 bg-clip-text;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.ring-vis {
    @apply transition-all focus-visible:ring-accent-200 focus-visible:ring-offset-4 focus-visible:ring-offset-white dark:focus-visible:ring-offset-dark focus-visible:ring-1 focus:outline-none;
}

/* ring with no offset */
.ring-vis-0 {
    @apply transition-all focus-visible:ring-accent-200 focus-visible:ring-offset-white focus-visible:ring-1;
}

.ring-vis-0:focus {
    outline: none;
}

.card:hover h4 span,
.card:focus h4 span {
    --tw-gradient-from: #00e887;
    --tw-gradient-to: #00e0f3;
    --tw-gradient-stops: var(--tw-gradient-from),
        var(--tw-gradient-to, rgba(0, 232, 135, 0));
    background-clip: text;
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));

    color: transparent;
    transition: color 100ms ease-in;
}

.card:hover,
.card:focus {
    transition-duration: 100ms !important;
    transform: scale(102%);
}

.btn:hover,
.btn:focus {
    transition-duration: 100ms !important;
    transform: scale(110%);
}

.card:active,
.btn:active {
    transition-duration: 50ms !important;
    transform: scale(97%);
}
