@tailwind base;

/* Write your own custom base styles here */
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/inter-v2-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/fonts/inter-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/fonts/inter-v2-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/fonts/inter-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/inter-v2-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/fonts/inter-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1 {
    @apply text-3xl font-bold md:text-5xl font-primary;
}

h2 {
    @apply text-2xl font-bold md:text-4xl font-primary;
}

h3 {
    @apply text-xl font-bold md:text-3xl font-primary;
}

h4 {
    @apply text-lg font-bold font-primary;
}

body {
    @apply font-primary;
}

p.component {
    @apply text-sm;
}

.layout {
    max-width: 43.75rem;
    @apply w-11/12 mx-auto;
}

.prose code {
    @apply py-1 rounded-md border-thin;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

span.accent {
    @apply text-transparent bg-gradient-to-tr dark:from-accent-200 dark:to-accent-300 from-accent-200 to-accent-400 bg-clip-text;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
